.vs
Library
Temp
obj
Logs
ModAssetBundles
Assets/_ModAssets_/*
Assets/_ModAssets_.meta
*.sln
*.csproj
Assets/ModTools/*
*.meta
.idea/.idea.Reentry/.idea/vcs.xml
UserSettings/Layouts/default-2022.dwlt
UserSettings/Layouts/default-2022.dwlt
Reentry.sln.DotSettings.user
UserSettings/Layouts/default-2022.dwlt
Reentry.sln.DotSettings.user
Reentry.sln.DotSettings.user
Reentry.sln.DotSettings.user
